/*запросы на подключение шрифтов*/
@font-face {
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
}

/*-------конец подключения----------*/


/*body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #e0e0e0;
}*/

.dody { /*создаю класс для body и присваиваю ему flex*/
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    /*background-color: #e0e0e0;*/
}

.dody_1 {
    padding-top: 29px;
    /*display: flex;*/
    background-color: #e0e0e0;
}

/*.dody_2 {
    background-color: #e0e0e0;

}*/

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    min-height: 89px;
    background-color: #000000;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;  
    margin-left: -20px;

    
}

/*.menu_li {

}*/

.site-menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 89px;
}

.sslk {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-menu > a {
    display: inline-block;
    padding: 42px 25px 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;❶
    text-transform: uppercase;❷
}

.site-menu:hover {
    background-color: #ff3f40;
}



/*------- конец шапки --------*/

/*===========Первый этаж============*/


.first_floor {
    flex-grow: 1;
}

.first_intro {
    background-color: #e0e0e0;
}

.intro {
    /*background-color: #e0e0e0;
    width: 1249px;
    padding: 108px 0 123px;*/
    padding-top: 103px;
    padding-bottom: 94px;
}

.blok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.intro_cntnt {
    position: relative;
    bottom: 11px;
    width: 617px;
    margin-bottom: 20px;
    margin-right: 75px;
}

.intro_floor {
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    
}

.intro_floor_br {
    letter-spacing: 6px;
    word-break: break-word;
    hyphens: auto;
    
}

.intro_txt {
    margin: 0;
    line-height: 1.75;
    max-width: 520px;
    margin-bottom: 51px;
    opacity: 0.7; 
}

.frame_sslk {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;    
}

.frame_sslk_br {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff2d2d;
}

.img_sslk {
    max-width: 100%;
}

.img_office {
    width: 551px;
    height: 356px;   
  
}

/*===========Второй этаж============*/

/*   DIV  1*/

.second {
    padding-top: 106px;
    padding-bottom: 53px;
    border-bottom: 1px solid #ececec;
}

.sec_glav {
    flex: 1 1 502px;
    /* Свойство flex совмещает в себе три свойства grow, shrink и basis. Первые два позволяют сказать, что флекс элемент может расширятсья и сжиматься. Третье задает базовую ширину, которая расчитывается до всего остального. */
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.second_floor {
    position: relative;
    bottom: 5px;
    margin-bottom: 27px;
}

.second_leter {
    color: #585858;
    /* Хотя в макете цвет текста заголовков и других элементов достигается прозрачностью, в браузере такое значение даст другой результат. Другой вариант: взять цвет в фотошопе пипеткой. */
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

.second_txt {
    margin: 0;
    line-height: 1.75;
    margin-bottom: 51px;
}

.frame_sslk_second {
    font-size: 15px;
    color: #ff3f40;
    background-color: #ffffff;
    border: 2px solid #ff3f40;
}

/*   DIV  2*/

.sec_box {
    flex: 1 1;
    max-width: 609px;
    display: flex;
    flex-wrap: wrap;
}

.secondiki {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
}
.secondiki:nth-child(odd) {
    margin-right: 32px;
}

.sec_h3 {
    margin: 0;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.sec_h3::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 23px;
}

.sec_txt {
    margin: 0;
    line-height: 1.75;
    opacity: 0.7;
}

.sec_managament::before {
    content: url('../images/managament.png');
}

.sec_pencil::before {
    content: url('../images/pencil.png');
}

.sec_diamond::before {
    content: url('../images/diamond.png');
}

.sec_track::before {
    content: url('../images/track.png');
}

/*=========== ТРЕТИЙ ЭТАЖ ===========*/

.third {
    padding-top: 94px;
    padding-bottom: 52px
}

.third_floor {
    width: 100%;
    text-align: center;
    margin-bottom: 67px;
}

.third_h3 {
    padding-left: 14px;
    margin-bottom: 16px;
}

.third_txt {
    line-height: 1.75;
    max-width: 500px;
    margin: 0 auto 30px;
    opacity: 0.7;
}


.third_line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
}

/*список ссылок 3-го этажа*/

.cntnt_sslk {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.cntnt_sslk_one {
    position: relative;
    left: 45px;
    color: #000;
    margin-right: 55px;
    font-size: 22px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    /*opacity: 0.7;*/
}
.cntnt_sslk_one:hover {
    color: rgb(255, 45, 45);
}
.cntnt_sslk_too {
    color: rgb(255, 45, 45);
    /*opacity: 1;*/
}
.carcas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.carcas_img {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
    /* Свйоство object-fit позволяет управлять размером изображений как фоновым, то есть независимо от границ самого элемента img. Это новое свойство и не работает в старых браузерах. */
}

/*========== ЧЕТВЁРТЫЙ ЭТАЖ ===========*/

.fourth {
    padding-top: 60px;
    padding-bottom: 110px;
}

/*   DIV  1_4*/

.fourth_floor {
    width: 100%;
    text-align: left;
    margin-bottom: 67px;
}

.fourth_h3 {
    margin-bottom: 23px;
}

.fourth_box {
    color: #000000;
    /* Хотя в макете цвет текста заголовков и других элементов достигается прозрачностью, в браузере такое значение даст другой результат. Другой вариант: взять цвет в фотошопе пипеткой. */
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

.fourth_txt {
    margin: 0;
    line-height: 1.75;
    max-width: 460px;
    margin-bottom: 30px;
}

.fourth_line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
}

.fourth_team {
    margin-left: 0;
}

/*   DIV  2_4*/

.fourth_sotrud {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 458px;
}

.fourth_foto {
    flex-shrink: 0;
    width: 321px;
    height: 458px;
    margin-right: 65px;
    background-color: #eb6d4a8f;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
}

.fourth_cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourth_inf {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 642px;
    margin-top: -7px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.fourth_name {
    bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 16px;
}

.fourth_about {
    margin: 0;
    line-height: 1.75;
    margin-bottom: 34px;
}

.fourth_link {
    color: #000;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;
}

/*   DIV  3_4*/

.sotrud {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sotrud_menu {
    position: relative;
    margin-top: 18px;
}

.sotrud_menu:not(:last-child) {
    margin-right: 18px;
}

.sotrud_menu:hover > .sotrud_name {
    visibility: visible;
}

.sotrud_name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    margin: 0;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}

.sotrud_foto {
    display: block;
    width: 197px;
    height: 214px;
    background-color: #d4dce680;
}

/*========== ПЯТЫЙ ЭТАЖ ===========*/

.fifth {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px;
}

.fifth_floor {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.fifth_h {
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    margin-bottom: 30px;
}



.fifth_txt {
    margin: 0;
    line-height: 1.75;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 50px;
}

.fifth_form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.fifth_in {
    color: #8e8e8e;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 1 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    
    margin-right: 22px;
    margin-bottom: 15px;
    background-color: #fff;
}

.fifth_bt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
  
    text-transform: uppercase;
}

/*   DIV  2_5*/

.lorem_cnt {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
}

.lorem_cnt::after {
    height: 100%;
    background-color: #2c2c2c;
}

.lorem_bx {
    flex: 1 1 auto;
}

.lorem_floor {
    box-sizing: border-box;
}

.lorem_h {
    margin-bottom: 34px;
}

.lorem_txt {
    margin: 0;
    line-height: 1.75;
    max-width: 720px;
    margin-bottom: 50px;
}

.hd_ln {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
}

.lorem_ln {
    margin-left: 0;
    margin-bottom: 75px;
}

/*   DIV  3_5*/

.lorem_bd {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 731px;
    margin-right: 107px;
    padding-left: 0;
    padding-right: 0;
}
.lorem_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lorem_in {
    color: #8e8e8e;
    box-sizing: border-box;
    padding-left: 54px;
    padding-right: 54px;
    border: none;
   
    background-color: #f3f3f3;  
    margin-bottom: 45px;
}

.lorem_name,
.lorem_mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 339px;
    height: 69px;
    background-color: #f3f3f3;
}

.lorem_mes {
    resize: none;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 731px;
    height: 252px;
    box-sizing: border-box;
    padding: 35px 54px;
    margin-bottom: 45px;
    border: none;
 
    background-color: #f3f3f3;
}

.lorem_bt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 731px;
    height: 72px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: #ff2d2d;
    border: none;
   
    text-transform: uppercase;
}

.contakt {
    box-sizing: border-box;
    position: relative;
    color: #e0e0e0;
    background-color: #2c2c2c;
    box-sizing: border-box;
    padding: 125px 53px 125px 78px;
    min-height: 481px;
    max-width: 411px;
}

/* Другой способ сделать темную подложку - создать пустой псевдоэлемент, стилизовать его и исопльзовать позиционирование. Этот подход лучше тем, что вам не нужно изменять HTML. Но для его работы необходимо поставить overflow: hidden для родителя, что не очень хорошая практика.*/
.contakt::after {
    /* content: ''; */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    /* Свойство transform позволяет изменять внешний вид элементов. Значение translate сдвигает элемент по осям X, Y или по обеим сразу. Его особенность - проценты расчитываются не от размеров родителя, а от самого элемента. При этом такой сдвинутый элемент не участвует в потоке. */
    width: 100vw;
    height: 100%;
    background-color: #2c2c2c;
}

/*======Футер+=========*/

.footer {
    background-color: #2c2c2c;
    padding: 0 1vw;
}

.footer__cnt {
    box-sizing: border-box;
    padding: 19px 0 0;
    color: #e0e0e0;
    align-items: center;
    min-height: 110px;
    background-color: #2c2c2c;
}

.footer__copyright {
    margin: 0;
    line-height: 1.75;
}

.footer__socialka > .footer__sslk:not(:last-child) {
    margin-right: 18px;
}




/*-------------Медиа-запросы--------------*/

@media screen and (max-width: 1286px) {
    .intro {
        flex-wrap: nowrap;
    }
    .intro_cntnt {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 15px;
    }
    .intro_floor {
        font-size: 5vw;
    }
    .img_sslk {
        width: 50%;
    }
    .img_office {
       width: 100%;
        height: auto;
    }
    .carcas {
        justify-content: flex-start;
    }
    .carcas_img {
        max-width: 100%;
        margin-right: 1vw;
    }
    .lorem_cnt {
        flex-wrap: wrap;
        padding-left: initial;
        padding-right: initial;
        padding-bottom: 0;
        grid-template-columns: 100%;
    }
    .lorem_cnt::after {
        content: initial;
    }
    .lorem {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0 1vw;
        grid-column: 1 / 6;
        grid-row: 1 / 2;    
    }
        .lorem_bd {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .header {
        padding-left: 20px;
    }
    .intro {
       flex-wrap: wrap;
    }

    .intro_cntnt {
        width: 100%;
    }
    .intro_floor {
        font-size: 50px;
    }
    .img_sslk {
        width: 100%;
    }
    .img_office {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .second {
        justify-content: center;
    }
    .cntnt_media {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 907px) {
    .sec_box {
        width: 100%;
        max-width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .sec_box{
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 855px) {
    .fourth_sotrud {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .fourth_foto {
        grid-row: 1 / 2;
        margin-bottom: 18px;
        margin-right: 0;
    }

    .fourth_inf{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .sotrud {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

}

@media screen and (max-width: 760px) {
    .lorem_name,
    .lorem_mail,
    .lorem_mes,
    .lorem_bt {
        width: 100%;
    }
    .lorem_name {
        margin-right: 0;
    }
}

/*


.intro-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top; ❸
    margin-right: 68px;
}

.intro-wrapper h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.intro-text {
    margin-bottom: 58px;
    opacity: 0.7; ❹
}

.contact-link {
    color: #ffffff;
    display: inline-block;
    background-color: #ff3f40;
    width: 227px;
    padding: 22px 0;
    text-align: center;
    text-decoration: none;
}

.intro-image {
    display: inline-block;
    width: 551px;
    height: 356px;
}

/*
❶ Убираем подчеркивание ссылок.

❷ Делаем все буквы заглавными.

❸ Выравниваем блоки с display: inline-block относительно базовой линии (то есть вертикально по центру).

❹ Задаем элементу прозрачность 70%.
*/

@supports (display: grid) and (display: contents) {
    .fourth_sotrud {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .fourth_cnt {
        display: contents;
    }

}